<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZju0svGNS6E7hKQVgPHlTkQLIyr5rRxo</string>
	<key>GCM_SENDER_ID</key>
	<string>17598534645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ilgaraydogan.SOSIUP</string>
	<key>PROJECT_ID</key>
	<string>sosiup-da4a1</string>
	<key>STORAGE_BUCKET</key>
	<string>sosiup-da4a1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17598534645:ios:1e62dccf07d8091eb906bc</string>
</dict>
</plist>